<a id='top'></a>
# Project: Investigating TMDP-Movies Dataset.

<a id='intro'></a>
## Introduction
This data set contains information about 10,000 movies collected from The Movie Database (TMDb), including user ratings and revenue.

I will be analyizing this dataset to find some information about the most popular genres each year and some relations between budget and cast team and their effect on the revenue.

## Asking questions
<ul>
<li>Which genres are most popular from year to year?</li>
<li>What kinds of properties are associated with movies that have high revenues?</li>
<li>Are generes related to budget?</li>
<li>is there a relation between directors, budget and revenue?</li>
<li>does the cast affect the budget and revenue?</li>
</ul>

### Importing needed libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

<a id='wrangling'></a>
## Data Wrangling

#### Inspecting and Assessing the data

In [2]:
# loading the data from .csv file
df = pd.read_csv('Raw_Data/tmdb-movies.csv')
df.head()

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,http://www.jurassicworld.com/,Colin Trevorrow,The park is open.,...,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/15,5562,6.5,2015,1.379999e+08,1.392446e+09
1,76341,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,http://www.madmaxmovie.com/,George Miller,What a Lovely Day.,...,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/15,6185,7.1,2015,1.379999e+08,3.481613e+08
2,262500,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,http://www.thedivergentseries.movie/#insurgent,Robert Schwentke,One Choice Can Destroy You,...,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/15,2480,6.3,2015,1.012000e+08,2.716190e+08
3,140607,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,http://www.starwars.com/films/star-wars-episod...,J.J. Abrams,Every generation has a story.,...,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/15,5292,7.5,2015,1.839999e+08,1.902723e+09
4,168259,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,http://www.furious7.com/,James Wan,Vengeance Hits Home,...,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/15,2947,7.3,2015,1.747999e+08,1.385749e+09

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10866 entries, 0 to 10865
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    10866 non-null  int64
 1   imdb_id               10856 non-null  object
 2   popularity            10866 non-null  float64
 3   budget                10866 non-null  int64
 4   revenue               10866 non-null  int64
 5   original_title        10866 non-null  object
 6   cast                  10790 non-null  object
 7   homepage              2936 non-null   object
 8   director              10822 non-null  object
 9   tagline               8042 non-null   object
 10  keywords              9373 non-null   object
 11  overview              10862 non-null  object
 12  runtime               10866 non-null  int64
 13  genres                10843 non-null  object
 14  production_companies  9836 non-null   object
 15  release_date          10866 non-null  object
 16  vote_count            10866 non-null  int64
 17  vote_average          10866 non-null  float64
 18  release_year          10866 non-null  int64
 19  budget_adj            10866 non-null  float64
 20  revenue_adj           10866 non-null  float64
dtypes: float64(4), int64(6), object(11)
memory usage: 1.7+ MB

In [4]:
df['keywords'][0]

'monster|dna|tyrannosaurus rex|velociraptor|island'

In [5]:
df['overview'][0]

'Twenty-two years after the events of Jurassic Park, Isla Nublar now features a fully functioning dinosaur theme park, Jurassic World, as originally envisioned by John Hammond.'

In [6]:
df[df.duplicated() == True]

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
2090,42194,tt0411951,0.59643,30000000,967000,TEKKEN,Jon Foo|Kelly Overton|Cary-Hiroyuki Tagawa|Ian...,NaN,Dwight H. Little,Survival is no game,...,"In the year of 2039, after World Wars destroy ...",92,Crime|Drama|Action|Thriller|Science Fiction,Namco|Light Song Films,3/20/10,110,5.0,2010,30000000.0,967000.0

## note:

### the data is precleaned and ready to be analyized with just a few changes

## what needs to be cleaned:

- unnecessary homepage column
- unnecessary tagline column
- unnecessary release_date column
- unnecessary keywords column
- reordering the columns to be more readable
- id column needs to be a string type
- genres column needs to be a string type
- imdb_id column has 'tt' in each cell
- one duplicate found
- new column for profit = revenue - budget

### Data Cleaning

- creating a copy to work on and droping unnecessary columns

In [7]:
# function to turn float numbers of dollars more readable and easy for the eyes.
def float_formatting(f):
    '''takes a float number and splits it to 3 digit parts then joins them with , in between prefixed with $ sign
    * returns a string in dollars format'''
    # first we reverse the string of the rounded float so we count the 3 digits from the ones side.
    f = str(round(f))[::-1]
    # 2nd we split the string into 3 digits groups
    digits = [f[i:i+3] for i in range(0, len(f), 3)]
    # 3rd we join them separated by , and prefixed with $
    f = '$' + ','.join(digits)[::-1]
    # then we return the dollars string format
    return f

In [8]:
# using pandas copy() function to create a separate copy of the orginal dataframe to work on 
copy_df = df.copy()
# droping unnecessary columns
copy_df.drop(columns=['id', 'imdb_id', 'homepage', 'tagline', 'release_date', 'keywords', 'budget_adj', 'revenue_adj',
                      'overview', 'production_companies'], inplace=True)

# and another dataframe to display more readable data of the orginal dataframe
view_df = df.copy()
# droping unnecessary columns
view_df.drop(columns=['homepage', 'tagline', 'release_year', 'keywords', 'budget_adj', 'revenue_adj', 'overview',
                      'production_companies'], inplace=True)
# using the float_formatting function to have a better look on the revenue and budget
view_df[['budget', 'revenue']] = view_df[['budget', 'revenue']].applymap(float_formatting)

In [9]:
view_df.head(1)

,id,imdb_id,popularity,budget,revenue,original_title,cast,director,runtime,genres,release_date,vote_count,vote_average
0,135397,tt0369610,32.985763,"$150,000,000","$1,513,528,810",Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,124,Action|Adventure|Science Fiction|Thriller,6/9/15,5562,6.5

In [10]:
copy_df.head(1)

,popularity,budget,revenue,original_title,cast,director,runtime,genres,vote_count,vote_average,release_year
0,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,124,Action|Adventure|Science Fiction|Thriller,5562,6.5,2015

- reordering the columns to be more readable

In [11]:
# creating a list of the wanted oreders
new_orders = ['original_title', 'release_year', 'genres', 'runtime', 'cast', 'director', 'popularity', 'vote_count',
              'vote_average', 'budget', 'revenue']

# looping over each column and placing it in the wanted order
order = 0
for column in new_orders:
    copy_df.insert(order, column + '_', copy_df[column])
    copy_df.drop(columns=[column], inplace=True)
    copy_df.rename(columns={column + '_': column}, inplace=True)
    order += 1

# deleting extra variables
del new_orders, order

In [12]:
copy_df.head(1)

,original_title,release_year,genres,runtime,cast,director,popularity,vote_count,vote_average,budget,revenue
0,Jurassic World,2015,Action|Adventure|Science Fiction|Thriller,124,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,32.985763,5562,6.5,150000000,1513528810

In [13]:
copy_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10866 entries, 0 to 10865
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   original_title  10866 non-null  object
 1   release_year    10866 non-null  int64
 2   genres          10843 non-null  object
 3   runtime         10866 non-null  int64
 4   cast            10790 non-null  object
 5   director        10822 non-null  object
 6   popularity      10866 non-null  float64
 7   vote_count      10866 non-null  int64
 8   vote_average    10866 non-null  float64
 9   budget          10866 non-null  int64
 10  revenue         10866 non-null  int64
dtypes: float64(2), int64(5), object(4)
memory usage: 933.9+ KB

In [14]:
# creating a list of the wanted oreders
new_orders = ['original_title', 'release_date', 'genres', 'runtime', 'cast', 'director', 'popularity', 'vote_count',
              'vote_average', 'budget', 'revenue']

# looping over each column and placing it in the wanted order
order = 2
for column in new_orders:
    view_df.insert(order, column + '_', view_df[column])
    view_df.drop(columns=[column], inplace=True)
    view_df.rename(columns={column + '_': column}, inplace=True)
    order += 1

# deleting extra variables
del new_orders, order

In [15]:
# function thats makes sure that the years before 2000 inside release date gets padded with 19 instead of 20
def pad(date):
    date_elements = date.split('/')
    if int(date_elements[2]) > 15:
        date_elements[2] = '19' + date_elements[2]
    else:
        date_elements[2] = '20' + date_elements[2]
        
    date = '/'.join(date_elements)
    return date
        
view_df['release_date'] = view_df['release_date'].apply(pad)

# converting the release_date column into date_time object 
view_df['release_date'] = pd.to_datetime(view_df['release_date'])

In [16]:
view_df

,id,imdb_id,original_title,release_date,genres,runtime,cast,director,popularity,vote_count,vote_average,budget,revenue
0,135397,tt0369610,Jurassic World,2015-06-09,Action|Adventure|Science Fiction|Thriller,124,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,32.985763,5562,6.5,"$150,000,000","$1,513,528,810"
1,76341,tt1392190,Mad Max: Fury Road,2015-05-13,Action|Adventure|Science Fiction|Thriller,120,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,28.419936,6185,7.1,"$150,000,000","$378,436,354"
2,262500,tt2908446,Insurgent,2015-03-18,Adventure|Science Fiction|Thriller,119,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,13.112507,2480,6.3,"$110,000,000","$295,238,201"
3,140607,tt2488496,Star Wars: The Force Awakens,2015-12-15,Action|Adventure|Science Fiction|Fantasy,136,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,11.173104,5292,7.5,"$200,000,000","$2,068,178,225"
4,168259,tt2820852,Furious 7,2015-04-01,Action|Crime|Thriller,137,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,9.335014,2947,7.3,"$190,000,000","$1,506,249,360"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10861,21,tt0060371,The Endless Summer,1966-06-15,Documentary,95,Michael Hynson|Robert August|Lord 'Tally Ho' B...,Bruce Brown,0.080598,11,7.4,$0,$0
10862,20379,tt0060472,Grand Prix,1966-12-21,Action|Adventure|Drama,176,James Garner|Eva Marie Saint|Yves Montand|Tosh...,John Frankenheimer,0.065543,20,5.7,$0,$0
10863,39768,tt0060161,Beregis Avtomobilya,1966-01-01,Mystery|Comedy,94,Innokentiy Smoktunovskiy|Oleg Efremov|Georgi Z...,Eldar Ryazanov,0.065141,11,6.5,$0,$0
10864,21449,tt0061177,"What's Up, Tiger Lily?",1966-11-02,Action|Comedy,80,Tatsuya Mihashi|Akiko Wakabayashi|Mie Hama|Joh...,Woody Allen,0.064317,22,5.4,$0,$0
10865,22293,tt0060666,Manos: The Hands of Fate,1966-11-15,Horror,74,Harold P. Warren|Tom Neyman|John Reynolds|Dian...,Harold P. Warren,0.035919,15,1.5,"$19,000",$0

- removing 'tt' from imdb_id column

In [17]:
view_df['imdb_id'] = view_df['imdb_id'].astype(str).apply(lambda x: x[2:])

In [18]:
view_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10866 entries, 0 to 10865
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              10866 non-null  int64
 1   imdb_id         10866 non-null  object
 2   original_title  10866 non-null  object
 3   release_date    10866 non-null  datetime64[ns]
 4   genres          10843 non-null  object
 5   runtime         10866 non-null  int64
 6   cast            10790 non-null  object
 7   director        10822 non-null  object
 8   popularity      10866 non-null  float64
 9   vote_count      10866 non-null  int64
 10  vote_average    10866 non-null  float64
 11  budget          10866 non-null  object
 12  revenue         10866 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(3), object(7)
memory usage: 1.1+ MB

- changing columns types to the most fitting types

In [19]:
# zero padding for consistency
view_df['id'] = view_df['id'].astype('str').apply(lambda x: x.zfill(6))

In [20]:
# converting genres to string type
copy_df['genres'] = copy_df['genres'].astype('str')
view_df['genres'] = view_df['genres'].astype('str')

In [21]:
copy_df.head(1)

,original_title,release_year,genres,runtime,cast,director,popularity,vote_count,vote_average,budget,revenue
0,Jurassic World,2015,Action|Adventure|Science Fiction|Thriller,124,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,32.985763,5562,6.5,150000000,1513528810

In [22]:
copy_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10866 entries, 0 to 10865
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   original_title  10866 non-null  object
 1   release_year    10866 non-null  int64
 2   genres          10866 non-null  object
 3   runtime         10866 non-null  int64
 4   cast            10790 non-null  object
 5   director        10822 non-null  object
 6   popularity      10866 non-null  float64
 7   vote_count      10866 non-null  int64
 8   vote_average    10866 non-null  float64
 9   budget          10866 non-null  int64
 10  revenue         10866 non-null  int64
dtypes: float64(2), int64(5), object(4)
memory usage: 933.9+ KB

In [23]:
view_df.head(1)

,id,imdb_id,original_title,release_date,genres,runtime,cast,director,popularity,vote_count,vote_average,budget,revenue
0,135397,0369610,Jurassic World,2015-06-09,Action|Adventure|Science Fiction|Thriller,124,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,32.985763,5562,6.5,"$150,000,000","$1,513,528,810"

In [24]:
view_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10866 entries, 0 to 10865
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              10866 non-null  object
 1   imdb_id         10866 non-null  object
 2   original_title  10866 non-null  object
 3   release_date    10866 non-null  datetime64[ns]
 4   genres          10866 non-null  object
 5   runtime         10866 non-null  int64
 6   cast            10790 non-null  object
 7   director        10822 non-null  object
 8   popularity      10866 non-null  float64
 9   vote_count      10866 non-null  int64
 10  vote_average    10866 non-null  float64
 11  budget          10866 non-null  object
 12  revenue         10866 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(2), object(8)
memory usage: 1.1+ MB

- droping duplicates

In [25]:
# dropping the one duplicate found
copy_df = copy_df.drop_duplicates()
view_df = view_df.drop_duplicates()

- adding a new profit column

In [26]:
# inserting a new column in the 11th column index
copy_df.insert(11, 'profit', copy_df['revenue'] - copy_df['budget'])

In [27]:
copy_df.head(1)

,original_title,release_year,genres,runtime,cast,director,popularity,vote_count,vote_average,budget,revenue,profit
0,Jurassic World,2015,Action|Adventure|Science Fiction|Thriller,124,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,32.985763,5562,6.5,150000000,1513528810,1363528810

In [28]:
# inserting a new column in the 13th column index
view_df.insert(13, 'profit', copy_df['revenue'] - copy_df['budget'])

In [29]:
# reformatting the profit column to be more readable
view_df['profit'] = view_df['profit'].apply(float_formatting)

C:\Users\abdal\AppData\Local\Temp\ipykernel_7788\1298611685.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  view_df['profit'] = view_df['profit'].apply(float_formatting)

In [30]:
view_df.head(1)

,id,imdb_id,original_title,release_date,genres,runtime,cast,director,popularity,vote_count,vote_average,budget,revenue,profit
0,135397,0369610,Jurassic World,2015-06-09,Action|Adventure|Science Fiction|Thriller,124,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,32.985763,5562,6.5,"$150,000,000","$1,513,528,810","$1,363,528,810"

## preparing the data
- creating a genres dataframe that includes the first genre only with profit as main key of analysis.

### Cleared overview

In [31]:
view_df

,id,imdb_id,original_title,release_date,genres,runtime,cast,director,popularity,vote_count,vote_average,budget,revenue,profit
0,135397,0369610,Jurassic World,2015-06-09,Action|Adventure|Science Fiction|Thriller,124,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,32.985763,5562,6.5,"$150,000,000","$1,513,528,810","$1,363,528,810"
1,076341,1392190,Mad Max: Fury Road,2015-05-13,Action|Adventure|Science Fiction|Thriller,120,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,28.419936,6185,7.1,"$150,000,000","$378,436,354","$228,436,354"
2,262500,2908446,Insurgent,2015-03-18,Adventure|Science Fiction|Thriller,119,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,13.112507,2480,6.3,"$110,000,000","$295,238,201","$185,238,201"
3,140607,2488496,Star Wars: The Force Awakens,2015-12-15,Action|Adventure|Science Fiction|Fantasy,136,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,11.173104,5292,7.5,"$200,000,000","$2,068,178,225","$1,868,178,225"
4,168259,2820852,Furious 7,2015-04-01,Action|Crime|Thriller,137,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,9.335014,2947,7.3,"$190,000,000","$1,506,249,360","$1,316,249,360"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10861,000021,0060371,The Endless Summer,1966-06-15,Documentary,95,Michael Hynson|Robert August|Lord 'Tally Ho' B...,Bruce Brown,0.080598,11,7.4,$0,$0,$0
10862,020379,0060472,Grand Prix,1966-12-21,Action|Adventure|Drama,176,James Garner|Eva Marie Saint|Yves Montand|Tosh...,John Frankenheimer,0.065543,20,5.7,$0,$0,$0
10863,039768,0060161,Beregis Avtomobilya,1966-01-01,Mystery|Comedy,94,Innokentiy Smoktunovskiy|Oleg Efremov|Georgi Z...,Eldar Ryazanov,0.065141,11,6.5,$0,$0,$0
10864,021449,0061177,"What's Up, Tiger Lily?",1966-11-02,Action|Comedy,80,Tatsuya Mihashi|Akiko Wakabayashi|Mie Hama|Joh...,Woody Allen,0.064317,22,5.4,$0,$0,$0
10865,022293,0060666,Manos: The Hands of Fate,1966-11-15,Horror,74,Harold P. Warren|Tom Neyman|John Reynolds|Dian...,Harold P. Warren,0.035919,15,1.5,"$19,000",$0,"$-19,000"

In [32]:
# creating a new dataframe 'genre_df' to use in the analyis
genre_df = copy_df[['release_year', 'genres', 'budget', 'profit']].copy()

# extracting the first genre of each movie
genre_df['genres'] = genre_df['genres'].str.split('|').str[0]
genre_df.rename(columns={'genres': 'genre'}, inplace=True)

In [33]:
genre_df

       release_year        genre     budget      profit
0              2015       Action  150000000  1363528810
1              2015       Action  150000000   228436354
2              2015    Adventure  110000000   185238201
3              2015       Action  200000000  1868178225
4              2015       Action  190000000  1316249360
...             ...          ...        ...         ...
10861          1966  Documentary          0           0
10862          1966       Action          0           0
10863          1966      Mystery          0           0
10864          1966       Action          0           0
10865          1966       Horror      19000      -19000

[10865 rows x 4 columns]